{% extends 'portfolio/base_templates/base.html' %}
{% block title %} {{ page_title }} {% endblock %}
{% block pagecontent %}
{% load static %}
{% load crispy_forms_tags %}
  <!--================ Start Contact Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-right">
                    <h1>Contact Me</h1>
                    <div class="page_link">
                        <a href="{% url 'index' %}">Home</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Contact Banner Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>{{ state }}, {{ country }}</h6>
                            <p>{{ city }}</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">{{ mobile }}</a></h6>
                            <p>{{ work_days }}, {{ work_shift }}</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">{{ email }}</a></h6>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="list social_details">
							<li><a href="{{ github }}" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
							<li><a href="{{ linkedin }}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
							<li><a href="{{ tweeter }}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
							<li><a href="{{ instagram }}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
						</ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" action="{% url 'contact_us' %}" method="post" enctype="multipart/form-data" id="contact_form">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <input type="hidden" id="{{ response }}">
                            <div class="form-group">
                                {{ form.client_name|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.client_email|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.subject|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.file_supporting_the_message|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.message|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="primary-btn"><span>Send Message</span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13" data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."
                data-mlat="40.701083" data-mlon="-74.1522848">
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->
{% endblock %}