{% extends 'portfolio/base_templates/base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% block pagecontent %}
{% load static %}
<!--================Home Banner Area =================-->
<style>
	.owl-dots {
		display:none;
	}
</style>
<section class="banner-area owl-carousel" id="home">
	<div class="single_slide_banner slide_bg1">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center">
				<div class="banner-content col-lg-12 justify-content-center">
					<h1>{% if request.user.is_authenticated %}
							{{ request.user.first_name }} {{ request.user.last_name }}'s
						{% else %}
							Gautam Kumar's
						{% endif %}
					</h1>
					<h3>Personal portfolio Website</h3>
					<a href="#" class="primary-btn">Hire Me</a>
				</div>
			</div>
		</div>
	</div>
	<div class="single_slide_banner slide_bg2">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center">
				<div class="banner-content col-lg-12 justify-content-center">
					<h1>{% if request.user.is_authenticated %}
							{{ request.user.first_name }} {{ request.user.last_name }}'s
						{% else %}
							Gautam Kumar's
						{% endif %}
					</h1>
					<h3>Personal portfolio Website</h3>
					<a href="#" class="primary-btn">Hire Me</a>
				</div>
			</div>
		</div>
	</div>
	<div class="single_slide_banner slide_bg3">
		<div class="container">
			<div class="row fullscreen justify-content-endd-flex align-items-center">
				<div class="banner-content col-lg-12 justify-content-center">
					<h1>{% if request.user.is_authenticated %}
							{{ request.user.first_name }} {{ request.user.last_name }}'s
						{% else %}
							Gautam Kumar's
						{% endif %}
					</h1>
					<h3>Personal portfolio Website</h3>
					<a href="#" class="primary-btn">Hire Me</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Portfolio Area =================-->
<section class="section_gap portfolio_area" id="work">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="main-title">
					<h1>{{heading}}</h1>
					<p>{{headline}}</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="projects_fillter">
					<ul class="filter list">
						<li class="active" data-filter="*">All Categories</li>
						{% for key, values in skills.items %}
							<li data-filter=".{{ key|cut:' ' }}">{{key}}</li>
						{% endfor %}
<!--						<li data-filter=".work">Creative Work </li>-->
<!--						<li data-filter=".web">Web Design</li>-->
					</ul>
				</div>
			</div>
		</div>
		<div class="projects_inner row grid">
			<div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>
			{% for key, values in skills.items %}
				<div class="col-lg-6 col-sm-6 col-sm-12 {{ key|cut:' ' }} grid-item">
					{% for each_value in values %}
						{% for key_one, value_one in each_value.items %}
							<div class="projects_item">
								<img class="img-fluid w-100" src="{{ value_one.logo }}" alt="">
								<div class="projects_text">
									<a href="{% url 'tech_details' value_one.id %}">
										<h4>{{key_one}}</h4>
									</a>
<!--								<p>Client Project</p>-->
								</div>
							</div>
						{% endfor %}
					{% endfor %}
				</div>
			{% endfor %}
<!--			<div class="col-lg-3 col-sm-6 col-sm-12 brand work grid-item">-->
<!--				<div class="projects_item">-->
<!--					<img class="img-fluid w-100" src="{% static '/portfolio/img/works/work2.jpg' %}" alt="">-->
<!--					<div class="projects_text">-->
<!--						<a href="portfolio-details.html">-->
<!--							<h4>2D Vinyl Design</h4>-->
<!--						</a>-->
<!--						<p>Client Project</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-lg-3 col-sm-6 work grid-item">-->
<!--				<div class="projects_item">-->
<!--					<img class="img-fluid w-100" src="{% static '/portfolio/img/works/work3.jpg' %}" alt="">-->
<!--					<div class="projects_text">-->
<!--						<a href="portfolio-details.html">-->
<!--							<h4>2D Vinyl Design</h4>-->
<!--						</a>-->
<!--						<p>Client Project</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-lg-6 col-sm-6 brand work grid-item">-->
<!--				<div class="projects_item">-->
<!--					<img class="img-fluid w-100" src="{% static '/portfolio/img/works/work5.jpg' %}" alt="">-->
<!--					<div class="projects_text">-->
<!--						<a href="portfolio-details.html">-->
<!--							<h4>2D Vinyl Design</h4>-->
<!--						</a>-->
<!--						<p>Client Project</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-lg-6 col-sm-6 brand web grid-item">-->
<!--				<div class="projects_item">-->
<!--					<img class="img-fluid w-100" src="{% static '/portfolio/img/works/work4.jpg' %}" alt="">-->
<!--					<div class="projects_text">-->
<!--						<a href="portfolio-details.html">-->
<!--							<h4>2D Vinyl Design</h4>-->
<!--						</a>-->
<!--						<p>Client Project</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-lg-6 col-sm-6 brand work web grid-item">-->
<!--				<div class="projects_item">-->
<!--					<img class="img-fluid w-100" src="{% static '/portfolio/img/works/work8.jpg' %}" alt="">-->
<!--					<div class="projects_text">-->
<!--						<a href="portfolio-details.html">-->
<!--							<h4>2D Vinyl Design</h4>-->
<!--						</a>-->
<!--						<p>Client Project</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-lg-3 col-sm-6 brand work web grid-item">-->
<!--				<div class="projects_item">-->
<!--					<img class="img-fluid w-100" src="{% static '/portfolio/img/works/work6.jpg' %}" alt="">-->
<!--					<div class="projects_text">-->
<!--						<a href="portfolio-details.html">-->
<!--							<h4>2D Vinyl Design</h4>-->
<!--						</a>-->
<!--						<p>Client Project</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-lg-3 col-sm-6 brand work web grid-item">-->
<!--				<div class="projects_item">-->
<!--					<img class="img-fluid w-100" src="{% static '/portfolio/img/works/work7.jpg' %}" alt="">-->
<!--					<div class="projects_text">-->
<!--						<a href="portfolio-details.html">-->
<!--							<h4>2D Vinyl Design</h4>-->
<!--						</a>-->
<!--						<p>Client Project</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</div>
</section>
<!--================ End Portfolio Area =================-->

<!--================ Start About Area =================-->
<section class="about-area section_gap gray-bg">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-lg-5 about-left">
				<img class="img-fluid" src="{{ profile_photo }}" alt="{{ request.user.first_name }}" title="{{ request.user.first_name }}">
			</div>
			<div class="col-lg-6 col-md-12 about-right">
				<div class="main-title text-left">
					<h1>About me</h1>
				</div>
				<div class="mb-50 wow fadeIn" data-wow-duration=".8s">
					<p>{{ about }}</p>
				</div>
				<a href="#" class="primary-btn">More Info</a>
			</div>
		</div>
	</div>
</section>
<!--================ End About Area =================-->

<!--================ Start Testimonial Area =================-->
{% if request.user.is_authenticated is not True %}
	<div class="section_gap testimonial_area">
		<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-left">
				<div class="active_testimonial owl-carousel" data-slider-id="1">
					<!-- single testimonial -->
					{% for each_review in customer_reviews %}
						<div class="single_testimonial">
							<div class="testimonial_head">
								<img src="{% static '/portfolio/img/quote.png' %}" alt="">
								<h4>{{ each_review.reviewer }}</h4>
								<div class="review">
									{% for each_rating_item in each_review.rating %}
										<i class="fa fa-star"></i>
									{% endfor %}
								</div>
							</div>
						<div class="testimonial_content">
							<p>{{ each_review.description }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	</div>
{% endif %}
<!--================ End Testimonial Area =================-->

<!--================ Start Newsletter Area =================-->
<section class="section_gap newsletter-area">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="main-title">
					<h1>Ping me, if you need my services</h1>
					<p>{{ headline }}</p>
				</div>
			</div>
		</div>
		<div class="row newsletter_form justify-content-center">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="d-flex flex-row" id="mc_embed_signup">
					<form class="w-100" action="">
						{% csrf_token %}
						<div class="navbar-form">
							<div class="input-group add-on">
								<input class="form-control" id="new_client_email" placeholder="Your email address" onfocus="this.placeholder = ''"
								 onblur="this.placeholder = 'Your email address'" onkeyup="getValidateInputField($.trim($('#new_client_email').val()), 'new_client_email', '')" type="email" required>
								<alert id="alert-new_client_email" style="display: none;color: red;margin-top: 12px;"><span><i class="fa fa-warning" aria-hidden="true"></i> Not a valid email id</span></alert>
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>
								<div class="input-group-btn">
									<button class="genric-btn text-uppercase" id="new_lead_form_btn" onclick="return submitNewClient()">
										Subscribe
									</button>
								</div>
							</div>
						</div>
						<div class="info mt-20"></div>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End Newsletter Area =================-->
{% endblock %}