{% extends 'portfolio/base_templates/base.html' %}
{% block title %} {{ page_title }} {% endblock %}
{% block pagecontent %}
{% load static %}
<!--================ Start portfolio Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-right">
					<h1>{% if request.user.is_authenticated %} {{ request.user.first_name }}'s {% else %} {{ user_first_name }}'s {% endif %} Profile Details</h1>
					<div class="page_link">
						<a href="{% url 'index' %}">Home</a>
						<a href="{% url 'about_me' %}">About</a>
						<a href="#" disabled>Details</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Portfolio Banner Area =================-->

	<!--================ Start Portfolio Details Area =================-->
	<section class="portfolio_details_area section_gap">
		<div class="container">
			<div class="portfolio_details_inner">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="main-title">
							<h1>My profile snapshot</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio_details_inner">
				<div class="row">
					<div class="col-md-6">
						<div class="left_img" style="margin-top: 52px;">
							<img class="img-fluid" src="{{ profile_photo }}" alt="{{ user_first_name }}" title="{{ user_first_name }}" style="width: 400px;height: 420px;">
						</div>
					</div>
					<div class="offset-md-1 col-md-5">
						<div class="portfolio_right_text mt-30">
							<h4>{{ role }}</h4>
							<p>{{ profile_short_description }}</p>
							<ul class="list">
								<li><span>Mobile</span>:{{ mobile }}</li>
								<li><span>Email</span>:{{ email }}</li>
							</ul>
							<ul class="list social_details">
								<li><a href="{{ github }}" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
								<li><a href="{{ linkedin }}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
								<li><a href="{{ tweeter }}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li><a href="{{ instagram }}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio_details_inner">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="main-title">
							<h1>A brief introduction</h1>
						</div>
						<p>{{ about|safe }}</p>
					</div>
				</div>
			</div>
			<div class="portfolio_details_inner">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="main-title">
							<h1>Technical capabilities</h1>
						</div>
						{% for key, values in skills.items %}
							<div class="section-top-border">
								<h3 class="mb-30 title_color">{{ key }}</h3>
								<div class="progress-table-wrap">
									<div class="progress-table">
										<div class="table-head">
											<div class="country">Technology</div>
											<div class="visit">Total years of experience</div>
											<div class="percentage">Confidence</div>
										</div>
										{% for each_value in values %}
											{% for key_one, value_one in each_value.items %}
												<div class="table-row">
													<div class="country"> <img src="{{ value_one.logo }}" alt="{{key_one}}" style="width:50px;height:30px;">{{key_one}}</div>
													<div class="visit">{{ value_one.total_experience_in_year }}</div>
													<div class="percentage">
														<div class="progress">
															<div class="progress-bar color-{{ value_one.progress_bar_color }}" role="progressbar" style="width: {{ value_one.rating_out_of_five }}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											{% endfor %}
										{% endfor %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="portfolio_details_inner">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="main-title">
							<h1>Client projects</h1>
						</div>
						<div class="section-top-border">
<!--							<h3 class="mb-30 title_color">Table</h3>-->
							<div class="progress-table-wrap">
								<div class="progress-table">
									<div class="table-head">
										<div class="serial">Title</div>
										<div class="country">Client</div>
										<div class="visit">URL</div>
										<div class="percentage">Technologies used</div>
										<div class="serial">Description</div>
									</div>
									{% for each_project in client_project_list %}
										<div class="table-row">
											<div class="serial">{{ each_project.project_title }}</div>
											<div class="country">{{ each_project.client_name }}</div>
											<div class="visit"><a href="{{ each_project.project_url }}" target="_blank"></a></div>
											<div class="percentage">
												<div class="progress">
													<div class="progress-bar color-1" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
									 aria-valuemax="100"></div>
												</div>
											</div>
											<div class="serial">
												{{ each_project.project_description|safe }}
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Portfolio Details Area =================-->
{% endblock %}