SECRET_KEY=
DEBUG=
ENABLE_SSL=
ALLOWED_HOSTS=
SECURE_HSTS_SECONDS=

CSRF_TRUSTED_ORIGINS=

# Superuser
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

# S3 Config
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_STATIC_LOCATION=
AWS_MEDIA_LOCATION=
AWS_S3_REGION_NAME=

# Django
ROOT_URLCONF=

# Database
DATABASE_ENGINE=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=
DATABASE_READY=

# Internationalization
LANGUAGE_CODE=
TIME_ZONE=
USE_I18N=
USE_TZ=

# Static and Media
STATIC_URL=/
STATIC_ROOT=
MEDIA_URL=
MEDIA_ROOT=

# Crispy Forms
CRISPY_TEMPLATE_PACK=

# Default user
DEFAULT_USER=

# Email
EMAIL_BACKEND=
EMAIL_USE_TLS=
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_SYSTEM_ADMIN=
APPLICATION_EMAIL=
DEFAULT_FROM_EMAIL=
