asgiref==3.6.0
boto3==1.39.4
botocore==1.39.4
build==1.2.2.post1
click==8.2.1
crispy-bootstrap4==2025.6
Django==4.2
django-ckeditor-5==0.2.18
django-crispy-forms==2.4
django-dotenv==1.4.2
django-froala-editor==4.5.2
django-js-asset==3.1.2
django-storages==1.14.6
gunicorn==20.1.0
iniconfig==2.1.0
jmespath==1.0.1
packaging==25.0
pillow==11.3.0
pip-tools==7.4.1
pluggy==1.6.0
psycopg2-binary==2.9.5
Pygments==2.19.2
pyproject_hooks==1.2.0
pytest==8.4.1
pytest-django==4.11.1
python-dateutil==2.8.2
pytz==2022.7.1
s3transfer==0.13.0
setuptools==80.9.0
six==1.16.0
sqlparse==0.4.3
urllib3==1.26.15
wheel==0.45.1
