<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>

  	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

<!--HEADER -->

		<tbody>
			<tr>
				<td align="center">
					<table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td align="center" valign="top" background="https://prtfl-email-tmplt-files.s3.ap-south-1.amazonaws.com/common-banner1.jpg" bgcolor="#66809b" style="background-size:cover; background-position:top;height=" 400""="">
									<table class="col-600" width="600" height="400" border="0" align="center" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td height="40"></td>
											</tr>
											<tr>
												<td align="center" style="line-height: 0px;">
													<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://prtfl-email-tmplt-files.s3.ap-south-1.amazonaws.com/gautamw3_logo.jpg" width="109" height="115" alt="logo">
												</td>
											</tr>
											<tr>
												<td align="center" style="font-family: 'Raleway', sans-serif; font-size:37px; color:#ffffff; line-height:24px; font-weight: bold; letter-spacing: 5px;">Welcome
													<span style="font-family: 'Raleway', sans-serif; font-size:37px; color:#ffffff; line-height:39px; font-weight: 300; letter-spacing: 5px;">To G3 Tech</span>
												</td>
											</tr>
											<tr>
												<td align="center" style="font-family: 'Lato', sans-serif; font-size:15px; color:#ffffff; line-height:24px; font-weight: 300;">Welcome aboard <br>we got your requirements</td>
											</tr>
											<tr>
												<td height="50"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
		</tbody>
  </table>
<!--				</td>-->
<!--			</tr>-->


<!-- END HEADERR -->


<!-- START SHOWCASE -->

			<tr>
				<td align="center">
					<table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
						<tbody>
							<tr>
								<td height="35"></td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;">
									<p align="left" style="margin-left:10px">Dear {{client_name}},</p>
									<p align="left" style="margin-left:10px">We are more than happy to know that you landed on our website and explored how we help people like you to grow their business</p>
									<p align="left" style="margin-left:10px">We received your query regrading: {{subject}}</p>
									<p align="left" style="margin-left:10px">We will go through your requirement details and get back to you at the earliest.</p>
									<p align="left" style="margin-left:10px">Please feel free to get in touch if you need to add something in this regard from your side. This will help us analyze your problem statement better.</p>
									<p align="left" style="margin-left:10px">Sincerely your's</p>
									<p align="left" style="margin-left:10px">Vyom Kapoor</p>
									<p align="left" style="margin-left:10px">Admin @G3 Tech</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td height="5"></td>
			</tr>


<!-- END SHOWCASE -->


<!-- START TITLE -->


<!-- END TITLE -->


<!--ABOUT -->

		<tr>
			<td align="center">
				<table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px;">
					<tbody>


<!-- END ABOUT -->



<!-- CHECKOUT BELOW -->


<!-- END CHECKOUT BELOW -->


<!--START PRICING-->


<!-- END PRICING -->


<!-- START FOOTER -->

		<tr>
			<td align="center">
				<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
					<tbody><tr>
						<td height="50"></td>
					</tr>
					<tr>
						<td align="center" bgcolor="#333" background="https://prtfl-email-tmplt-files.s3.ap-south-1.amazonaws.com/common-banner1.jpg" height="185">
							<table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
								<tbody><tr>
									<td height="25"></td>
								</tr>

									<tr>
									<td align="center" style="font-family: 'Raleway',  sans-serif; font-size:26px; font-weight: 500; color:#fbb016; background-color: #333;">Follow Us On Social Media</td>
									</tr>


								<tr>
									<td height="25"></td>
								</tr>



								</tbody></table><table align="center" width="35%" border="0" cellspacing="0" cellpadding="0">
								<tbody><tr>
									<td align="center" width="30%" style="vertical-align: top;">
											<a href="https://www.linkedin.com/in/gautam-kumar-4b2080140/" target="_blank"> <img src="https://prtfl-email-tmplt-files.s3.ap-south-1.amazonaws.com/linkedin-logo.png" height="44" width="44"> </a>
									</td>

									<td align="center" class="margin" width="30%" style="vertical-align: top;">
										 <a href="https://www.instagram.com/gautamkrrewind/" target="_blank"> <img src="https://prtfl-email-tmplt-files.s3.ap-south-1.amazonaws.com/instagram-logo.png" height="44" width="44"> </a>
									</td>

									<td align="center" width="30%" style="vertical-align: top;">
											<a href="https://twitter.com/gautamw3" target="_blank"> <img src="https://prtfl-email-tmplt-files.s3.ap-south-1.amazonaws.com/twitter-logo1.png" height="44" width="44"> </a>
									</td>
								</tr>
								</tbody></table>



							</td></tr></tbody></table>
						</td>
					</tr>
				</tbody></table>
			</td>
		</tr>

<!-- END FOOTER -->
  </tbody>
  </table>

</body>
</html>